// Ho letto la consegna dopo, ho fatto quello che ho potuto solo in questo unico file, la prossima volta starò più attento e mi attuerrò alla consegna, a causa di impegni ho fatto tutto di fretta
header{
    
nav{
    display: flex;
    background-color: rgb(168, 151, 22);
    justify-content: space-between;
align-items: center;
    ul{
        display: flex;
        li{
            list-style-type: none;
            margin-right: 2em;
           font-size: 1.5em;

        }
    }
    div{
        margin-right: 2em;
    }
    button{
        padding: 0.5em;
        background-color: rgb(247, 0, 0);
        border-radius: 1em;
        &:hover{
            color: rgb(252, 149, 13);
            background-color: rgb(2, 17, 78);
        }
    }
 
}
section{
    background-color: rgb(233, 215, 50);
    display: flex       ;
h1{
    text-align: center;
}
h3{
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}
img{
    height: 20em;
    width: 50%;
    margin-left: 4.7em;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-right: 1em;
}
div{
    
}

}
   table{
    tr{
        td{
            img{
                width: 50%;
                height: 50%;
            }
        }
    }
   }

 }
